// @import "compass";

.modal-form {
  input:focus {
    @include box-shadow(rgba(black, 0.2) 0 0 5px 2px inset);
  }
  input {
    color: #595959;
  }

  input {
    padding-left: 1.9%;
    padding-right: 1.9%;
    width:96%;
    @include transition-property(all);
    @include transition-timing-function(ease);

  }
  .ng-dirty.ng-invalid {
    border-color:#d2002b;
    background: #FDEFF0;
  }
  .input-label {
    margin-top:10px;
    display:block;
    display: block;
    text-align: left;
    font-weight: bold;
  }
  button {
    margin-top:20px;
  }

  button[disabled="disabled"] {
    background: #CFCFCF;
  }


}

.modal {
  .facebook-connect-label {
    margin-top:10px;
  }
}

.modal-footer:hover {
  background-color:#FFF;
}


.modal-footer {
	.error {
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
}