  <div id="trainingComplete" class="finalView">
   
   <div class="maleHeader">
    <div class="maleLogo"><img src="http://brandid.dev.com:3501/images/male-round-white@2x.png " /></div>
    <div class="maleMessage">I know kung-fu</div>
  </div>



    <div class="summary">

      <div class="text">M.a.l.e. learned</div>
      <div class="number"><span><i class="icon-tags"></i> 34</span></div>
      <div class="text">Things about your jeans in</div>
      <div class="number"><span><i class="icon-time"></i> 25</span></div>
      <div class="text">seconds, and can search</div>
      <div class="number"><span><i class="icon-shopping-cart"></i> 93 gazillion</span></div>
      <div class="text">products online, offline & outerspace of which</div>
      <div class="number"><span><i class="icon-trash"></i> 43 bajillion</span></div>
      <div class="text">are probably total garbage or not even in your size, leaving you about</div>
      <div class="number"><span><i class="icon-shopping-cart"></i> 6</span></div>
      <div class="text">killer options which should take you no more than</div>
      <div class="number"><span><i class="icon-time"></i> 1</span></div>
      <div class="text">minute to deliver the knock-out punch to this clusterf*ck of a problem we call shopping</div>
      <div class="text"><div>Go Ahead.</div><div>Shop. Like a Man.</div></div>


    </div>
    <div class="button"><a href="#" class="btn btn-large btn-success">FIND AND EMAIL ME 6 KILLER OPTIONS</a></div>

  </div>