<div class="slide-container clearfix fadeIn ani">
            <div class="curved-white-block withShadow withRadius intro">
              <div class="male-round">
                <div class="male-holder">
                  <div id="male-colour" class="male-back">
                  </div>
                  
                  <img ng-src="images/male-round-white@2x.png" alt="M.A.L.E." class="male-round " title="feed the male"/>
                  <div class="male-label-box">
                    <span id="male-label">M.A.L.E.</span>
                  </div>
                </div>
              </div>

              <span id="intro" class="question" typewriter>{{question}}</span>
            </div>

            <div class="answers multi-button-set">
              <a class="convert secondary size-auto-populator total-num-buttons-{{totalNumButtons}} first-{{$first}} last-{{$last}}" ng-click="selectItem($index)" ng-repeat="answer in answers" ng-class="{active: sizeButton.isActive}">
                <div class="v-outer-container">
                  <div class="v-inner-container">
                    <div class="v-aligned-element">
                      <div class="icon ">{{answer.label}}</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            
          </div>