 <div id="head">
  <h2 style="text-align:center;">I NEED</h2>
 </div> 
 <div id="swipers">
  <div swiper auto="1500" speed="300" start-slide="0" on-slide-end="handleItemsSwitch(index, slide)" model="{{items}}" swiper-name="items"></div>
  <div swiper auto="1700" speed="300" start-slide="0" model="{{sizes}}" swiper-name="sizes"></div>
  <div swiper auto="1900" speed="300" start-slide="0" model="{{reasons}}" swiper-name="reasons"></div>
</div>
<div id="go">
  <a href="" class="btn btn-success btn-large" ng-click="goToFeed()"><div>SHOP FOR ME</div></a>
</div>