// globals





@import "layout/layout.scss";
@import "components/slides.scss";

@import "components/controls.scss";
// @import "components/slideAnimations.scss";
@import "components/drawer.scss";

@import "components/answers.scss";
@import "components/questions/dashboard.scss";
@import "components/questions/specifics.scss";
@import "components/questions/brands.scss";
@import "components/questions/size.scss";
@import "components/checkout.scss";
@import "components/success.scss";


.male-font {
	font-family:"larabiefont",Helvetica,arial,sans-serif;
}

#detailView {
	overflow:hidden;	
}


.withRadius {
	@include border-radius($radius);
}

.withShadow {
	@include box-shadow(rgba(0, 0, 0, 0.3) 0 1px 3px);
}


.container.maleApp.withShadow {
	// background:$paneBg;
}


#maleContainer {
	background:$paneBg;
	height:100%;
	font-size:0;
}

.ipad-style-header {
	height:44px;
	@include border-top-radius($radius);

	/* needs latest Compass, add '@import "compass"' to your scss */
	background-color: rgb(237,237,237); /* Old browsers */
	@include filter-gradient(#ededed, #d6d6d6, vertical); /* IE6-8 */

	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(214,214,214,1) 100%));

	border: 1px solid #ccc;
	border-bottom: 1px solid #aaaaaa;
	border-top:1px solid #FFF;
}

.gte9 .ipad-style-header {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	filter:none;
}



@media only screen and (max-width: 767px) {	
	
	.container {
		width:100%;
	}
}