 <div class="slide-container clearfix fadeIn ani">
    <form ng-controller="PricesFormController">

      <div class="answers multi-button-set">
          
          <a class="convert secondary size-auto-populator total-num-buttons-{{totalNumButtons}} first-{{$first}} last-{{$last}}" ng-click="choosePrice($index)" ng-repeat="priceButton in pricesButtons" ng-class="{'active': priceButton.isActive}">
            <div class="v-outer-container">

              <div class="v-inner-container">

                <div class="v-aligned-element">
                  <span class="bigger-text">{{priceButton.label}}</span>
                </div>
              
              </div>

            </div>

          </a>

      </div>        
    </form>
</div>