<div class="slide-container clearfix fadeIn ani">
            <form ng-controller="SpecificsFormController">

              <div class="curved-white-block withShadow withRadius">
              <h1 class="question-title">{{questionTitle}}</h1>
                <span id="specifics" class="question" typewriter>{{question}}</span>
              </div>

              
                <div class="answers">
                    <textarea ng-model="selectedSpecifics" name="" id="" cols="30" rows="10" class="specifics-textarea"></textarea>
                </div>

                <div class="next-question-button-section">
                  <button class="convert submit" type="submit" ng-click="saveAnswer()">
                        Next
                  </button>
                </div>

            </form>

          </div>