

<div class="fullscreen center-align clearfix fadeInUp ani">

  <div class="container bottom-margin">
    <!-- <div class="row-fluid mobile-padding">

    </div> -->
    <div class="row-fluid big-top-margin mobile-padding">
      <div class="featurette">
        <img class="featurette-image pull-right span6" src="images/landing/pages/main.png">

        <h1 class="lightest-text light-text-drop-shadow">Manbag</h1>
        <h4 class="lightest-text light-text-drop-shadow">Shop Your Tits Off</h4>


        <div class="big-top-margin">
          <a id="start" class="btn btn-primary btn-large" href="http://tflig.ht/W5l4CM"><i class="icon icon-cloud-download"></i> Download the app</a>
        </div>

        <div class="top-margin">
                  <a href="https://twitter.com/manbagapp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @manbagapp</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>

        <div class="big-top-margin">
            <h4 class="light-text center-align text-shadow normal-text" style="text-transform:none">We collect all a woman's shopping from the high street & deliver it to their home, so they can shop handsfree.

            <br/><br/><br/>
            Made for men. <br/><br/><br/>Built in 48hrs at #seedhack by:</h4>

        </div>


        <div class="big-top-margin">
          <div class="row-fluid light-text">

              <div class="row-fluid">
                <div class="pull-left small-right-margin center-align">
                  <img src="http://api.twitter.com/1/users/profile_image?screen_name=arush" alt="" class="row-fluid twitter-avatar">
                  <div style="clear:both;"></div>
                  <a href="http://www.twitter.com/arush" class="lightest-text row-fluid">@arush</a>
                </div>

                <div class="pull-left small-right-margin center-align">
                  <img src="http://api.twitter.com/1/users/profile_image?screen_name=spacenick" alt="" class="row-fluid twitter-avatar">
                  <div style="clear:both;"></div>
                  <a href="http://www.twitter.com/spacenick" class="lightest-text row-fluid">@spacenick</a>
                </div>

                <div class="pull-left small-right-margin center-align">
                  <img src="http://api.twitter.com/1/users/profile_image?screen_name=thefashioncloud" alt="" class="row-fluid twitter-avatar">
                  <div style="clear:both;"></div>
                  <a href="http://www.twitter.com/thefashioncloud" class="lightest-text row-fluid">@thefashioncloud</a>
                </div>

                <div class="pull-left small-right-margin center-align">
                  <img src="http://api.twitter.com/1/users/profile_image?screen_name=4nkush" alt="" class="row-fluid twitter-avatar">
                  <div style="clear:both;"></div>
                  <a href="http://www.twitter.com/4nkush" class="lightest-text row-fluid">@4nkush</a>
                </div>

                <div class="pull-left small-right-margin center-align">
                  <img src="http://api.twitter.com/1/users/profile_image?screen_name=marmelroy" alt="" class="row-fluid twitter-avatar">
                  <div style="clear:both;"></div>
                  <a href="http://www.twitter.com/marmelroy" class="lightest-text row-fluid">@marmelroy</a>
                </div>


              </div>

          </div>



        </div>
        
        
      </div>
    </div>
  </div>

    

  
</div>

<div class="grey-back clearfix row-fluid mobile-padding">
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div id="learn-more" class="container marketing">
      <!-- START THE FEATURETTES -->
      <div class="row-fluid">
        <div class="centered-parts">
          <div class="left part">
            <div class="horizontal-line left-fade"></div>
          </div>
          <div class="circle-container center part">
            <div class="step-circle center-align"><span class="number muted text-shadow text-drop-shadow">1</span></div>
          </div>
          <div class="right part">
            <div class="horizontal-line right-fade"></div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="featurette">
          <img class="featurette-image pull-right span4" src="images/landing/pages/1.png">
          <h2 class="featurette-heading light-text-drop-shadow"><i class="icon icon-shopping-cart"></i> <span class="small-left-margin">Create a new bag drop</span><br/><span class="muted">Leave your bags at the store</span></h2>
        </div>
      </div>

      <div class="row-fluid">
        <div class="centered-parts">
          <div class="left part">
            <div class="horizontal-line left-fade"></div>
          </div>
          <div class="circle-container center part">
            <div class="step-circle center-align"><span class="number muted text-shadow text-drop-shadow">2</span></div>
          </div>
          <div class="right part">
            <div class="horizontal-line right-fade"></div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="featurette">
          <img class="featurette-image pull-left span4" src="images/landing/pages/2.png">
          <h2 class="featurette-heading light-text-drop-shadow"><i class="icon icon-screenshot"></i> Track your bags in real time, all the time<br/><span class="muted">Your dream hearthrob delivery man collects your bags and delivers them to you
          </span></h2>
        </div>
      </div>

      <div class="row-fluid">
        <div class="centered-parts">
          <div class="left part">
            <div class="horizontal-line left-fade"></div>
          </div>
          <div class="circle-container center part">
            <div class="step-circle center-align"><span class="number muted text-shadow text-drop-shadow">3</span></div>
          </div>
          <div class="right part">
            <div class="horizontal-line right-fade"></div>
          </div>
        </div>
      </div>
      

      <div class="row-fluid big-bottom-margin">

        <div class="featurette">
          <img class="featurette-image pull-right span4" src="images/landing/pages/3.png">
          <h2 class="featurette-heading light-text-drop-shadow"><i class="icon icon-bolt"></i> <span class="small-left-margin">Have a Shopgasm™ when you receive your bags</span><br/><span class="muted">You didn't think we would just leave you hanging, did you?</span></h2>
        </div>

      </div>

    </div> <!-- container -->
</div> <!-- row-fluid -->

<div class="big-top-margin big-bottom-margin center-align clearfix fadeInUp ani dark-grey-back mobile-padding ">
  <h1 class="big-top-margin lightest-text center-align text-shadow">Leave your man at home</h1><br/>
<!--   <h4 class="light-text center-align text-shadow normal-text">Get someone else to do it</h4><br/> -->
  <a id="go-to-male" class=" big-bottom-margin btn btn-primary btn-large btn-block max-width-600 top-margin" href="http://tflig.ht/W5l4CM"><i class="icon icon-cloud-download"></i> Download the app Now</a>
</div>

<div class="grey-back clearfix row-fluid mobile-padding">
    <div class="container">

      <!-- /END THE FEATURETTES -->
      <div class="row-fluid center-align big-top-margin">
        <h2 class="featurette-heading light-text-drop-shadow">Unofficial Endorsements</h2>
        <a href="https://twitter.com/intent/tweet?screen_name=manbagapp" class="twitter-mention-button big-top-margin" data-size="large" data-related="male">Tweet to @manbagapp</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs2");</script>
      </div>
      <div class="twitter clearfix big-bottom-margin">

        <div class="quote-box span4"> 
          <div class="apostrophe"><span>‘</span><span class="apostrophe2">‘</span></div>
          <div class="quote v-outer-container">
            <div class="v-inner-container">
              <span class="v-aligned-element normal-text italic serif">
                Riddled with sexual innuendo. It's my guilty pleasure.
              </span>
            </div>
          </div>
          <div class="quote-triangle"></div>
          
          <div class="author-container clearfix">
            <!-- <img src="{{tweet.user.profile_image_url_https}}" alt="" class="twitter-avatar"> -->
            <div class="author-text-container">
              <span class="caption-small">Anonymous woman</span>
            </div>
          </div>
        </div> <!-- end ng-repeat -->
        <div class="quote-box span4"> 
          <div class="apostrophe"><span>‘</span><span class="apostrophe2">‘</span></div>
          <div class="quote v-outer-container">
            <div class="v-inner-container">
              <span class="v-aligned-element normal-text italic serif">
                I think I just wet myself
              </span>
            </div>
          </div>
          <div class="quote-triangle"></div>
          
          <div class="author-container clearfix">
            <!-- <img src="{{tweet.user.profile_image_url_https}}" alt="" class="twitter-avatar"> -->
            <div class="author-text-container">
              <span class="caption-small">Same anonymous woman</span>
            </div>
          </div>
        </div> <!-- end ng-repeat -->
        <div class="quote-box span4"> 
          <div class="apostrophe"><span>‘</span><span class="apostrophe2">‘</span></div>
          <div class="quote v-outer-container">
            <div class="v-inner-container">
              <span class="v-aligned-element normal-text italic serif">
                I love the way the Shopgasms vibrate. My boyfriend just got fired.
              </span>
            </div>
          </div>
          <div class="quote-triangle"></div>
          
          <div class="author-container clearfix">
            <!-- <img src="{{tweet.user.profile_image_url_https}}" alt="" class="twitter-avatar"> -->
            <div class="author-text-container">
              <span class="caption-small">Man comfortable with his sexuality</span>
            </div>
          </div>
        </div> <!-- end ng-repeat -->
      </div>


    </div><!-- /.container -->
</div> <!-- mobile-padding row-fluid -->
