
<div class="fullscreen container mobile-padding">

	<div class="slide-container span12 center-align clearfix fadeIn ani">
		<form ng-controller="BillingUpdateController" class="center-align big-bottom-margin">
		  
		  <div class="row-fluid center-align">
		  	<h1 class="punchy lightest-text text-shadow top-margin">{{billingTitle}}</h1><br/>
			<h5 class="light-text text-shadow normal-text">{{billingCopy}}</h5><br/>	
		  </div>
		  
		  <br/><br/>
		  <recurly-js payload="recurlyPayload" callback="receiveRecurlyToken"></recurly-js>
		  
		</form>
	</div>

</div>

<script type="text/javascript">
	$(document).ready(function() {
	    homePage.fullscreen();
	});
</script>