<div class="container-fluid">
  <div class="row-fluid">
    <div class="gallery span12 center-align">
      <img class="big-profile-img center-align img-circle withShadow scale-with-grid top-margin bottom-margin" ng-src="{{meCtrl.profileImageUrl}}" />
    </div>
    <div class="row-fluid center-align top-margin">
      <h3 class="name lightest-text text-shadow punchy">{{meCtrl.welcome}}</h3>      
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid top-margin mobile-desktop-padding" ng-hide="meCtrl.cardOnFile">
    <div class="alert alert-block ani shake clearfix big-bottom-margin">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2 class="punchy">Your tab is inactive!</h2>
      <p class="pull-left">Add a credit card to activate your tab so you can buy in one easy move, directly from your inbox or even via a tweet to @male.</p>
      <div style="clear:both"></div>
      <a href="#/me/billing" class="btn btn-success btn-large pull-left center-align top-margin"> <i class="icon-credit-card"></i>  Activate your Tab!</a>
    </div>
  </div>  
</div>


<div class="container profile-page">


  <div class="row-fluid mobile-padding grey-tabs">
    <ul class="nav nav-tabs center-align" id="submenu">
      <li class="active"><a href="#missions" class="center-align muted"><i class="icon-shopping-cart icon-large"></i><br/><h4 class="punchy">Missions</h4></a></li>
      <li><a href="#tags" class="center-align muted"><i class="icon-tags icon-large"></i><br/><h4 class="punchy"><span class="lowercase">i</span>D Tags</h4></a></li>
      <li><a href="#usuals" class="center-align muted"><i class="icon-star icon-large"></i><br/><h4 class="punchy">Usuals</h4></a></li>
    </ul>
  </div>

  <div class="row-fluid grey-tabs bottom-margin">
    <div class="tab-content top-padding grey-back">
      <div class="tab-pane active" id="missions">
        
        <div class="bottom-margin">
          <a href="#/me/missions/new" class="btn btn-success btn-large btn-block"> <i class="icon icon-pencil"></i> Create New Mission</a>          
        </div>

        <div class="table-row item-block row-fluid withShadow bottom-margin" ng-repeat="mission in missionsCollection.models" ng-click="goToMissionPage(mission)">
          <div class="row-fluid small-bottom-margin small-top-margin">
            <img class="pull-left" ng-src="/images/ignore/clothes-icons/icon-{{mission.getCategory()}}-50.png">
            <h3 class="media-heading pull-left punchy">{{mission.getTitle()}}</h3>
            
            <h3 href="#" class="pull-right"><i class="icon-angle-right icon-large"></i> </h3>

          </div>

          <div class="horizontal-line full-fade"></div>

          <div class="row-fluid progress muted">

            <div class="pull-left">
              <h4 class="punchy">PROGRESS: </h4>
            </div>

            <div class="pull-left status-indicator percent-left-margin" ng-class="{'active':mission.statusIs1()}">
              <i class="icon icon-ok-sign icon-green"></i>
              <i class="icon icon-circle muted"></i>
              <i class="icon icon-circle muted"></i>
            </div>

            <div class="pull-left status-indicator percent-left-margin" ng-class="{'active':mission.statusIs2()}">
              <i class="icon icon-ok-sign icon-green"></i>
              <i class="icon icon-ok-sign icon-green"></i>
              <i class="icon icon-circle muted"></i>
            </div>

            <div class="pull-left status-indicator percent-left-margin" ng-class="{'active':mission.statusIs3()}">
              <i class="icon icon-ok-sign icon-green"></i>
              <i class="icon icon-ok-sign icon-green"></i>
              <i class="icon icon-ok-sign icon-green"></i>
            </div>

            <!-- <a class="delete pull-right"><i class="icon icon-trash small muted"></i></a> -->
          
          </div> <!-- progress -->

        </div> <!-- table-row -->

      </div> <!-- tab pane active -->

      <div class="tab-pane" id="usuals">
        <h3 class="punchy">Coming Soon...</h3>
        <p class="muted">Soon you'll be able to save regularly purchased items like underwear, and order them in one tap or just set them on subscription.</p>
      </div>

      

      <div class="tab-pane tags" id="tags">
        <div ng-include src="'views/me/tags-coming-soon.html'"></div>
       
                <!-- <div class="big-bottom-margin">
          <h3 class="punchy">Coming Soon...</h3>
          <p class="muted">If you want to edit your preferences to get better recommendations, for now, simply use the 'Messages' functionality to send a message to your shopper.</p>  
        </div>
        

        <div class="coming-soon span4or6 item-block grid-item-container withShadow bottom-margin" ng-repeat="mission in missionsCollection.models" ng-class="{'first3': $index%3==0,'last3': $index%3==2, 'even': $index%2==1}">
          <div class="row-fluid grid-item small-bottom-margin small-top-margin">
            
            <div class="pull-left item-status-holder">
              <div class="clothing-status"><i class="icon icon-plus-sign"></i><i class="icon icon-ok-sign"></i></div>
            </div>
              
            
            <img class="pull-left clothing-icon" ng-src="/images/ignore/clothes-icons/icon-{{mission.getCategory()}}-50.png">

            <h3 class="media-heading pull-left punchy">{{mission.getCategory()}}</h3>
            
              
            <h3 class="pull-right"> <i class="icon icon-angle-right icon-large"></i></h3>

            <h3 class="pull-right">
              <span class="badge badge-tags pull-right"><i class="icon-tags"></i> 64</span>
            </h3>
            
          </div>

        </div> --> 

      </div> <!-- tab pane -->

    </div>
  </div> <!-- row-fluid -->
  


</div>


<script type="text/javascript">
  // bootstrap tabs

  $('#submenu a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });

  $(function () {
    $('#submenu a:first').tab('show');
  });

</script>