
        <div class="big-bottom-margin">
          <h3 class="punchy">My BRAND <span class="lowercase">i</span>D</h3>
          <p class="muted">If you want to edit your preferences to get better recommendations, for now, simply use the 'Messages' functionality to send a message to your shopper.</p>  
        </div>
        

        <!-- ngRepeat: job in jobsCollection.models --><div class="coming-soon span4or6 item-block grid-item-container withShadow bottom-margin first3">
          <div class="row-fluid grid-item small-bottom-margin small-top-margin">
            
            <div class="pull-left item-status-holder">
              <div class="clothing-status"><i class="icon icon-plus-sign"></i><i class="icon icon-ok-sign icon-green"></i></div>
            </div>
              
            
            <img class="pull-left clothing-icon" ng-src="/images/ignore/clothes-icons/icon-jeans-50.png" src="/images/ignore/clothes-icons/icon-jeans-50.png">

            <h3 class="media-heading pull-left punchy ng-binding">jeans</h3>
            
              
            <h3 class="pull-right"> <i class="icon icon-angle-right icon-large"></i></h3>

            <h3 class="pull-right">
              <span class="badge badge-tags pull-right"><i class="icon-tags"></i> 64</span>
            </h3>
            
          </div>

        </div>
        <div class="coming-soon span4or6 item-block grid-item-container withShadow bottom-margin even">
          <div class="row-fluid grid-item small-bottom-margin small-top-margin">
            
            <div class="pull-left item-status-holder">
              <div class="clothing-status"><i class="icon icon-plus-sign"></i><i class="icon icon-ok-sign icon-green"></i></div>
            </div>
              
            
            <img class="pull-left clothing-icon" ng-src="/images/ignore/clothes-icons/icon-jumpers-50.png" src="/images/ignore/clothes-icons/icon-jumpers-50.png">

            <h3 class="media-heading pull-left punchy ng-binding">jumpers</h3>
            
              
            <h3 class="pull-right"> <i class="icon icon-angle-right icon-large"></i></h3>

            <h3 class="pull-right">
              <span class="badge badge-tags pull-right"><i class="icon-tags"></i> 64</span>
            </h3>
            
          </div>

        </div>
        <div class="coming-soon span4or6 item-block grid-item-container withShadow bottom-margin last3">
          <div class="row-fluid grid-item small-bottom-margin small-top-margin">
            
            <div class="pull-left item-status-holder">
              <div class="clothing-status"><i class="icon icon-plus-sign"></i><i class="icon icon-ok-sign icon-green"></i></div>
            </div>
              
            
            <img class="pull-left clothing-icon" ng-src="/images/ignore/clothes-icons/icon-socks-50.png" src="/images/ignore/clothes-icons/icon-socks-50.png">

            <h3 class="media-heading pull-left punchy ng-binding">socks</h3>
            
              
            <h3 class="pull-right"> <i class="icon icon-angle-right icon-large"></i></h3>

            <h3 class="pull-right">
              <span class="badge badge-tags pull-right"><i class="icon-tags"></i> 64</span>
            </h3>
            
          </div>

        </div>
        <div class="coming-soon span4or6 item-block grid-item-container withShadow bottom-margin first3 even">
          <div class="row-fluid grid-item small-bottom-margin small-top-margin">
            
            <div class="pull-left item-status-holder">
              <div class="clothing-status"><i class="icon icon-plus-sign"></i><i class="icon icon-ok-sign icon-green"></i></div>
            </div>
              
            
            <img class="pull-left clothing-icon" ng-src="/images/ignore/clothes-icons/icon-boxers-50.png" src="/images/ignore/clothes-icons/icon-boxers-50.png">

            <h3 class="media-heading pull-left punchy ng-binding">boxers</h3>
            
              
            <h3 class="pull-right"> <i class="icon icon-angle-right icon-large"></i></h3>

            <h3 class="pull-right">
              <span class="badge badge-tags pull-right"><i class="icon-tags"></i> 64</span>
            </h3>
            
          </div>

        </div>
        <div class="coming-soon span4or6 item-block grid-item-container withShadow bottom-margin">
          <div class="row-fluid grid-item small-bottom-margin small-top-margin">
            
            <div class="pull-left item-status-holder">
              <div class="clothing-status"><i class="icon icon-plus-sign"></i><i class="icon icon-ok-sign icon-green"></i></div>
            </div>
              
            
            <img class="pull-left clothing-icon" ng-src="/images/ignore/clothes-icons/icon-gloves-50.png" src="/images/ignore/clothes-icons/icon-gloves-50.png">

            <h3 class="media-heading pull-left punchy ng-binding">gloves</h3>
            
              
            <h3 class="pull-right"> <i class="icon icon-angle-right icon-large"></i></h3>

            <h3 class="pull-right">
              <span class="badge badge-tags pull-right"><i class="icon-tags"></i> 64</span>
            </h3>
            
          </div>

        </div>
        <div class="coming-soon span4or6 item-block grid-item-container withShadow bottom-margin last3 even">
          <div class="row-fluid grid-item small-bottom-margin small-top-margin">
            
            <div class="pull-left item-status-holder">
              <div class="clothing-status"><i class="icon icon-plus-sign"></i><i class="icon icon-ok-sign icon-green"></i></div>
            </div>
              
            
            <img class="pull-left clothing-icon" ng-src="/images/ignore/clothes-icons/icon-hoodie-50.png" src="/images/ignore/clothes-icons/icon-hoodie-50.png">

            <h3 class="media-heading pull-left punchy ng-binding">hoodie</h3>
            
              
            <h3 class="pull-right"> <i class="icon icon-angle-right icon-large"></i></h3>

            <h3 class="pull-right">
              <span class="badge badge-tags pull-right"><i class="icon-tags"></i> 64</span>
            </h3>
            
          </div>

        </div>
        <div class="coming-soon span4or6 item-block grid-item-container withShadow bottom-margin first3">
          <div class="row-fluid grid-item small-bottom-margin small-top-margin">
            
            <div class="pull-left item-status-holder">
              <div class="clothing-status"><i class="icon icon-plus-sign"></i><i class="icon icon-ok-sign icon-green"></i></div>
            </div>
              
            
            <img class="pull-left clothing-icon" ng-src="/images/ignore/clothes-icons/icon-shirt-50.png" src="/images/ignore/clothes-icons/icon-shirt-50.png">

            <h3 class="media-heading pull-left punchy ng-binding">shirt</h3>
            
              
            <h3 class="pull-right"> <i class="icon icon-angle-right icon-large"></i></h3>

            <h3 class="pull-right">
              <span class="badge badge-tags pull-right"><i class="icon-tags"></i> 64</span>
            </h3>
            
          </div>

        </div>
        <div class="coming-soon span4or6 item-block grid-item-container withShadow bottom-margin even">
          <div class="row-fluid grid-item small-bottom-margin small-top-margin">
            
            <div class="pull-left item-status-holder">
              <div class="clothing-status"><i class="icon icon-plus-sign"></i><i class="icon icon-ok-sign icon-green"></i></div>
            </div>
              
            
            <img class="pull-left clothing-icon" ng-src="/images/ignore/clothes-icons/icon-tshirt-50.png" src="/images/ignore/clothes-icons/icon-tshirt-50.png">

            <h3 class="media-heading pull-left punchy ng-binding">tshirt</h3>
            
              
            <h3 class="pull-right"> <i class="icon icon-angle-right icon-large"></i></h3>

            <h3 class="pull-right">
              <span class="badge badge-tags pull-right"><i class="icon-tags"></i> 64</span>
            </h3>
            
          </div>

        </div> 