<div class="keep-calm-wearepros">
  <div class="row-fluid">
    <div class="span12 title-block first">
      <div class="title-block-inner clearfix">
        <div class="title-block-container clearfix">    
          <div class="im-man-title">
            <span class="first">Keep calm.</span><br>
            <span class="second">We're professionals.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="mobile-padding">
      <div class="row-fluid">
        <div class="span12 commitment-caption">
          <div class="commitment-caption">
            <span class="caption">Our team is the perfect mix of tech startup, retail, fashion, branding and comms entrepreneurs.<br>And we are deadly serious about solving clothing shopping for men. Forever.<br><br><a href="/keep/calm/accessallareas">Click here for our press page</a></span>
          </div>
        </div>
      </div>
      

      <div class="row-fluid">

        <div class="span4">
          <div class="teampic">
            <div class="backpic-square">
              <img src="//brandid.s3.amazonaws.com/ankushsquare.jpg" alt="Team Photo of Ankush Sehgal">
            </div>
            <div class="picframe">
              <img src="/images/landing/pages/team/circleframe.png" alt="Team Photo of Ankush Sehgal">
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12 center-align top-margin">
              <span class="vision-title-text">
                Ankush Sehgal
              </span>
            </div>
          </div>
              
          <div class="commitment-caption">
            <span class="caption jobtitle">Co-founder / CEO / Buying / Sales</span><br>
            <a href="https://twitter.com/intent/tweet?screen_name=4nkush" class="twitter-mention-button" data-related="brandid,male">Tweet to @4nkush</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs2");</script>
          </div>
          <div class="jobtitle-container">
            <span class="hood-explanation">
              Ankush’s experience in retail spans eight years, and varies from working on the shop-floor to founding retail pop-up concept ‘I Love Brands’, in 2009. Before founding 3 previous ecommerce startups, he worked in FX Sales at Deutsche Bank.
            </span>
          </div>
        </div>

        <div class="span4">
          <div class="teampic">
            <div class="backpic-square">
              <img src="//brandid.s3.amazonaws.com/arushsquare.jpg" alt="Team Photo of Arush Sehgal">
            </div>
            <div class="picframe">
              <img src="/images/landing/pages/team/circleframe.png" alt="Team Photo of Arush Sehgal">
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12 center-align top-margin">
              <span class="vision-title-text">
                Arush Sehgal
              </span>
            </div>
          </div>
              
          <div class="commitment-caption">
            <span class="caption jobtitle">Co-founder / CTO / Design / Engineering </span><br>
            <a href="https://twitter.com/intent/tweet?screen_name=arush" class="twitter-mention-button" data-related="brandid,male">Tweet to @arush</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs2");</script>
          </div>
          <div class="jobtitle-container">
            <span class="hood-explanation">
              Arush is an experienced designer and developer. He has worked on some of the biggest ecommerce sites in the world. He is an open source contributor and active member of the nodejs, Angularjs and Magento communities.
            </span>
          </div>
        </div>

        <div class="span4">
          <div class="teampic">
            <div class="backpic-square">
              <img src="/images/landing/pages/team/nick-square-small.png" alt="Team Photo of Nicolas Kermarc">
            </div>
            <div class="picframe">
              <img src="/images/landing/pages/team/circleframe.png" alt="Team Photo of Nicolas Kermarc">
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12 center-align top-margin">
              <span class="vision-title-text">
                Nicolas Kermarc
              </span>
            </div>
          </div>
              
          <div class="commitment-caption">
            <span class="caption jobtitle">VP Engineering</span><br>
            <a href="https://twitter.com/intent/tweet?screen_name=spacenick" class="twitter-mention-button" data-related="brandid,male">Tweet to @spacenick</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs2");</script>
          </div>
          <div class="jobtitle-container">
            <span class="hood-explanation">
              Nicolas is a contributor to the backbone.js project, an experienced nodejs, javascript and mobile developer. Nicolas previously co-founded a startup who's recommendation engine is currently implemented in many industries including clothing and apparel.
            </span>
          </div>
        </div>

      </div>

      <div class="row-fluid big-top-margin">
        <div class="span4">
          <div class="teampic">
            <div class="backpic-square">
              <img src="//brandid.s3.amazonaws.com/gabbisquare.jpg" alt="Team Photo of Gabbi Cahane">
            </div>
            <div class="picframe">
              <img src="/images/landing/pages/team/circleframe.png">
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12 center-align top-margin">
              <span class="vision-title-text">
                Gabbi Cahane
              </span>
            </div>
          </div>

              
          <div class="commitment-caption">
            <span class="caption jobtitle">MR Brand Activation</span><br>
            <a href="https://twitter.com/intent/tweet?screen_name=gabbicahane" class="twitter-mention-button" data-related="brandid,male">Tweet to @gabbicahane</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs2");</script>
          </div>
          <div class="jobtitle-container">
            <span class="hood-explanation">
              Gabbi founded his first marketing firm aged 23. His work for brands including DHL, Financial Times, Shell, Unilever, Warner Music, Umbro, Ladbrokes, Penguin Books, Novartis and Sony has covered almost every marketing and communications discipline in pretty much every sector and spanned most geographic regions.
            </span>
          </div>
        </div>

        <div class="span4">
          <div class="teampic">
            <div class="backpic-square">
              <img src="//brandid.s3.amazonaws.com/philsquare.jpg" width="150" height="150" alt="Team Photo of Philip Sheldrake">
            </div>
            <div class="picframe">
              <img src="/images/landing/pages/team/circleframe.png">
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12 center-align top-margin">
              <span class="vision-title-text">
                Philip Sheldrake
              </span>
            </div>
          </div>

          <div class="commitment-caption">
            <span class="caption jobtitle">COMMUNITY / PR</span><br>
            <a href="https://twitter.com/intent/tweet?screen_name=sheldrake" class="twitter-mention-button" data-related="brandid,male">Tweet to @sheldrake</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs2");</script>
          </div>
          <div class="jobtitle-container">
            <span class="hood-explanation">
              Philip co-founded, built and sold an award-winning PR consultancy, was the CEO of Nochex, Europe’s first e- payment service, and co-founded OnOneMap, Europe’s first Google Maps mashup.
              He authored The Business of Influence, Wiley, April 2011, and the Digital Marketing chapter of The Marketing Century.
            </span>
          </div>
        </div>

        <div class="span4">
          <div class="teampic">
            <div class="backpic-square">
              <img src="//brandid.s3.amazonaws.com/monsquare.jpg" alt="Team Photo of Monica Durden">
            </div>
            <div class="picframe">
              <img src="/images/landing/pages/team/circleframe.png">
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12 center-align top-margin">
              <span class="vision-title-text">
                Monica Durden
              </span>
            </div>
          </div>

              
          <div class="commitment-caption">
            <span class="caption jobtitle">Wing girl</span><br>
            <a href="https://twitter.com/intent/tweet?screen_name=MonicaRoseD" class="twitter-mention-button" data-related="brandid,male">Tweet to @monicarosed</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs2");</script>
          </div>
          <div class="jobtitle-container">
            <span class="hood-explanation">
              Monica’s experience includes creative production and account management roles at agencies VCCP, Intro and Exposure; campaigns for Levi’s, O2, Agent Provocateur, TK Maxx and Converse; and projects for publishers including Hachette Filipacchi, Conde Nast and IPC. She managed the in-house creative team for MSHK producing global content, product and campaigns for their stable of brands including Ministry of Sound, Hed Kandi, Global Underground and Data Records.
            </span>
          </div>
        </div>

      </div> <!-- row-fluid -->

      <div class="row-fluid big-top-margin big-bottom-margin">

        <div class="span6">
          <div class="teampic">
            <div class="backpic-square">
              <img src="//brandid.s3.amazonaws.com/simonsquare.jpg" alt="Team Photo of Simon Huhtala">
            </div>
            <div class="picframe">
              <img src="/images/landing/pages/team/circleframe.png">
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12 center-align top-margin">
              <span class="vision-title-text">
                Simon Huhtala
              </span>
            </div>
          </div>

              
          <div class="commitment-caption">
            <span class="caption jobtitle">Professor of Post Production</span><br>
            <a href="https://twitter.com/intent/tweet?screen_name=huhtala" class="twitter-mention-button" data-related="brandid,male">Tweet to @huhtala</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs2");</script>
          </div>
          <div class="jobtitle-container">
            <span class="hood-explanation">
              Simon’s early career was spent in Milan collaborating with renowned directors such as Gabrielle Salvatores, Roman Polanski and Tarsem pioneering new visual technology and techniques in post production.
              As MD of boutique London facility Clear Post Production, he refocused the business, returned it to profitability and sold it to Prime Focus.
              At Prime Focus he was responsible for clients ranging from the BBC, VW, Head &amp; Shoulders, 118 118, P&amp;G and supervised one of Burberry’s most ambitious online campaigns ever.
            </span>
          </div>
        </div>

        <div class="span6">
          <div class="teampic">
            <div class="backpic-square hire">
            </div>
            <div class="picframe">
              <img src="/images/landing/pages/team/circleframe.png">
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12 center-align top-margin">
              <span class="vision-title-text">
                We're Hiring
              </span>
            </div>
          </div>

              
          <div class="commitment-caption">
            <span class="caption jobtitle">Shit hot web devs / designers</span><br>
            <a href="https://twitter.com/intent/tweet?screen_name=brandid" class="twitter-mention-button" data-related="brandid,male">Tweet to @BRANDiD</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs2");</script>
          </div>
          <div class="jobtitle-container">
            <span class="hood-explanation">
              Want to be part of an awesome growing startup? We're hiring web and mobile designers and front-end and mobile engineers. Get in touch on <a href="//www.angel.co/brandid">AngelList</a><br/><br/>Recruiters will be marked as spam.
            </span>
          </div>
        </div>

      </div> <!-- row-fluid -->
    </div> <!-- mobile-padding -->
  </div> <!-- container -->
</div>