// @import "compass";


footer {
  @media (max-width: 979px) {
    font-size:18px;
    font-weight:bold;
    [class*="span"],.pull-right {
      padding:10px;
      text-align:left !important;
    }

    .pull-right {
      display:block;
      float:none;

    }
    [class*="icon"] {
      min-width:24px;
    }

  }
  @media (min-width:1200px) {
    .larger {
      width:80px !important;
    }
  }
  .pull-right {
    color:#D8D8D8;
  }

  [class*="span"] {
   text-align:center;
  }

  [class*="icon"] {
    color:#D8D8D8;
  }

  a {
    color:lighten($red,20%);
    @include transition(color 0.25s ease-in);
  }

  a:hover {
    text-decoration:none;
    color:lighten($red,70%);
  }

}
