<div class="row-fluid progress muted">

    <div class="status-indicator active">
      <div class="one-third center-align progress-item-holder" ng-class="{'active':missionCtrl.missionObject.statusIs1(), 'active':missionCtrl.isNew}">
        <i class="icon icon-pencil icon-large"></i><br/>
        <h4 class="punchy"><span class="small-left-margin">1. Create Mission</span></h4>
      </div>
      <div class="one-third center-align progress-item-holder" ng-class="{'active':missionCtrl.missionObject.statusIs2(), 'active':missionCtrl.step2Active == true}">
        <i class="icon icon-shopping-cart  icon-large"></i><br/>
        <h4 class="punchy"><span class="small-left-margin">2. Shopping Squad</span></h4>
      </div>
      <div class="one-third center-align progress-item-holder">
        <i class="icon icon-credit-card  icon-large"></i><br/>
        <h4 class="punchy"><span class="small-left-margin">3. Shop like a man</span></h4>
      </div>
    </div>
    <!-- <a class="delete pull-right"><i class="icon icon-trash small muted"></i></a> -->
  
  </div> <!-- progress -->