<div ng-repeat="submenuItem in menuItem.submenuItems" class="ani big-block clearfix {{submenuItem.cssClass}}-container" ng-class="{selected: submenuItem.question==selectedSubmenuItem}">
          
          <!-- the link here skips the dashboard, because no need for a dashboard for simple questions -->
          <a href="#/male/section/{{routeParams.section}}/category/{{routeParams.category}}/question/{{submenuItem.question}}" class="button-overlay">
            <div class="icon {{submenuItem.cssClass}}">
              <div class="v-outer-container">

                <div class="v-inner-container">

                  <div class="v-aligned-element">
                    <span class="submenuItem-label">{{submenuItem.label}}</span>
                  </div>
                </div>
              </div>

            </div>
            <div class="ani arrow-left"></div>
          </a>
</div>