$fb-width: 61px;
$tw-width: 55px;


.small-share-container {
	width: $fb-width + $tw-width + 20;
	margin-left: auto;
	margin-right: auto;
}

.fb-share-small, .fb-share-small:hover, .fb-share-small:active, .tw-share-small, .tw-share-small:hover, .tw-share-small:active, {
	height: 24px;
	width: 61px;
	display: block;
	background: url('/images/social/share-sprite-small.png') 0 0 no-repeat transparent;
}

.fb-share-small:hover {
	background-position: -61px 0;
}

.fb-share-small:active {
	background-position: -123px 0;
}


.tw-share-small {
	width: 55px;
	background-position: 0 -24px;
}


.tw-share-small:hover {
	width: 55px;
	background-position: -55px -24px;
}

.tw-share-small:active {
	width: 55px;
	background-position: -110px -24px;
}