<div id="imageStep" ng-controller="FeedTheMaleTagController">
  <div ng-show="loading" style="padding:20px; text-align:center;"><i class="icon-spinner icon-spin"></i></div>
  <div id="mainPicture">
   <div swiper speed="300"start-slide="0" model="{{getImagesArray()}}" swiper-name="items" on-slide-end="goTo(index)"></div>
  </div>

  <div id="actions" class="top-padding big-bottom-padding" ng-hide="loading">
    <div class="mainContainer mobile-padding">
      
      <div class="buttons">
        <div class="tag">{{currentPic.getBrand()}}</div>
        <div class="tag top-padding bottom-padding">£{{currentPic.getPrice()}}</div>
        
          <button type="button" class="btn-primary btn-large btn-block btn max-width-400"><i class="icon-shopping-cart"></i> ADD TO CART</button>
          <!-- <button type="button" class="btn btn-large btn-block" ng-click="scrollToBottom()"><i class="icon-tag"></i> FEEDBACK</button> -->

      </div>

      <div class="feedback-tags big-top-margin max-width-400">
        <div class="icons">
          <div class="tag">Feedback & Filter</div>
          <div class="tag-icon-holder top-margin"><span class="badge badge-large badge-tags" ng-hide="complete"><i class="icon-tags"></i> {{nbTags}}</span></div>
          
          <div class="tag-feedback row-fluid bottom-margin top-margin" ng-repeat="currentTag in currentPic.getTags()">
            <button data-toggle="button" class="btn btn-large btn-feedback like one-sixth" tag-toggle tagtype="liked" ng-click="tag('like',currentTag)"><i class="icon-thumbs-up"></i></button>
            <div class="feedback-tag-name two-thirds">{{currentTag}}</div>
            <button data-toggle="button" class="icon-vomit-small-dark btn btn-large btn-feedback vomit one-sixth" ng-click="tag('dislike',currentTag)"></button>
            <div style="clear:both;"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  

</div>