<footer class="mobile-padding big-bottom-margin">
  <div class="container big-top-margin center-align">
      <div class="row-fluid light-text">Made in 48hrs at <a href="http://www.seedcamp.com/tags/seedhack">#seedhack</a>
    </div>
    <div class="row-fluid light-text top-margin">
      <div class="row-fluid">
        iOS backend: <a href="http://www.parse.com">Parse</a>
      </div>
      <div class="row-fluid top-margin">
        Node hosting: <a href="http://nodejitsu">nodejitsu</a>
      </div>
      <div class="row-fluid top-margin">
        Javascript: <a href="http://www.angularjs.org">angularjs</a>
      </div>
    </div>

    <div class="row-fluid top-margin lightest-text">Want to make kick ass apps with us? Join the <a href="http://workinstartups.com/job-board/job/2433/brandid-beach-villa-hacking-retreat-lean-startup-hackternship-2-positions-remaining-at-brandid/">BRANDiD Beach Villa Retreat Hackternship</a>
    </div>

  </div>
</div>