<!--<div class="modal-backdrop fade in generic-backdrop">
  <div class="loader"></div>
  <div class="message">Testing this !</div>
</div>-->
<div>

  <div class="navbar chisel-block header">
    <div class="navbar-inner bs-override">
      <div class="container">
        
        <div class="logo-container visible-desktop float-left">
          <a id="logo" href="/" class="header-logo">
            <img class="logo" alt="BRANDiD logo" src="images/logo.png" title="BRANDiD Logo">
          </a>
        </div>

        <a id="mobile-menu" class="btn btn-navbar bs-override inverse" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <i class="icon-reorder" style="font-size:18px; text-shadow:0px;"></i>
        </a>


        <div class="logo-container hidden-desktop center-align">
          <a id="logo" href="/" class="header-logo">
            <img class="logo" alt="Manbag logo" src="images/logo.png" title="Manbag Logo">
          </a>
        </div>


        <div class="nav-collapse collapse navbar-responsive-collapse">

          <ul class="nav pull-right">
            <li><a class="top-nav-link trans" href="http://tflig.ht/W5l4CM"><i class="icon icon-cloud-download"></i> Get the App!</a></li>
            <li class="divider"></li>
            <li><a class="top-nav-link trans" href="http://www.getbrandid.com">by BRANDiD</a></li>
          </ul>
        </div><!-- /.nav-collapse -->

      </div>
    </div><!-- /navbar-inner -->
  </div>


</div>

<script type="text/javascript">
  // ugly hack to stop Intercom from trying to open its damn modal all the time
  $(document).ready(function() {
    var isIntercomLoaded = setInterval(function() {

      if($('#Intercom-phone em').length > 0) {
        $("#Intercom-phone em").click(function(event){
          return false;
        });
        clearInterval(isIntercomLoaded);
      }

    }, 1000);
    
  });
  
</script>

<script type="text/javascript">
  !function ($) {

  "use strict"; // jshint ;_;

 /* COLLAPSE DATA-API
  * ================= */

  $('#mobile-menu').on('click', function (e) {
    var $this = $(this), href
      , target = $this.attr('data-target')
        || e.preventDefault()
        || (href = $this.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, '') //strip for ie7
      , option = $(target).data('collapse') ? 'toggle' : $this.data()
    $this[$(target).hasClass('in') ? 'addClass' : 'removeClass']('collapsed')
    $(target).collapse(option)
  })

}(window.jQuery);
</script>