<div class="keep-calm-accessallareas">
  <div class="row-fluid">
    <div class="span12 title-block first">
      <div class="title-block-inner clearfix">
        <div class="title-block-container clearfix">    
          <div class="im-man-title">
            <span class="first">Returns &amp; Exchanges</span><br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container static">

    <div class="row-fluid mobile-padding">
      <div class="span8 offset2 main_content">
        <ul>
          <li class="caption">
            <p><i class="icon-money"></i> Full or Partial Refund</p>
            <ul>
                <li>UK: If you are unhappy with your item, we'll happily exchange it for you, just ship it back to us at your own cost. Contact&nbsp;help@getbrandid.com for next steps</li>
                <li>UK / International: If you did not upgrade at checkout - No-questions-asked refund, you pay for return shipping</li>

            </ul>
          </li>
          <li class="caption">
            <p><i class="icon-retweet"></i> Full or Partial Exchange</p>                                        
            <ul>
                <li>UK: If you are unhappy with your item, we'll happily exchange it for you, just ship it back to us at your own cost. Contact&nbsp;help@getbrandid.com for next steps</li>
                <li>International: We are happy to exchange International orders, but due to high International shipping costs, we charge a flat €10 processing fee</li>
            </ul>
          </li>
        </ul>
        <hr>
        <p>All returns must be sent via registered mail in their original condition to our returns address which we will let you know by email.<br><br>NB: In the interests of hygeine and quality control, we cannot exchange or refund items which have a broken hygeine seal. This is to ensure we're always sending you fresh pants!</p>
        <p>NB: If you would like to upgrade to Return Like a Man™ after having purchased already, please email us at <strong>help@getbrandid.com</strong> and we'll hook you up.</p>
        <p>This policy complies 100% with the European&nbsp;<a href="http://www.oft.gov.uk/shared_oft/business_leaflets/general/oft913.pdf">Distant Selling Regulations</a> which protects your rights as an online consumer.</p>
      </div>
    </div>

  </div> <!-- grey container -->
</div> <!-- grey-tilt holder -->

