<div class="keep-calm-accessallareas">
  <div class="row-fluid">
    <div class="span12 title-block first">
      <div class="title-block-inner clearfix">
        <div class="title-block-container clearfix">    
          <div class="im-man-title">
            <span class="first">UK Shipping Policy</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container static">

    <div class="row-fluid mobile-padding">
      <div class="span8 offset2 main_content">
        <div class="std"><!--  body {   background-color: #666; } -->
            <p><a name="begin" href=""></a></p>
            <p>This page outlines our shipping policy within the UK. In summary, UK customers benefit from:</p>
            <ul class="list">
                <li><a name="cover" href=""></a>Free Standard Shipping for all orders/subscriptions over £24</li>
                <li>Return Like a Man<sup>TM</sup>&nbsp;- you choose the time and place - we do the rest</li>
            </ul>
            
            <p>Exceptions are covered in <a href="#1">question #1 below</a>.</p>
            <p>If you have any questions, please contact us at <strong>help@getbrandid.com</strong>&nbsp;or call us on <strong>+44 (0) 203 322 2882</strong>&nbsp;and we will be glad to help. Please include your Order # if you have one so we can deal with your concern as quickly as possible.</p>
            
            <p>For information about Returns &amp; Exchanges, please <a href="/returns">click here</a>.</p>
            <p> For queries related to International Shipping or Returns, please <a href="/international-shipping">click here</a>.</p>
            

            <div style="">
                <div class="caption"><p>Jump to...</p></div>
                <div style="padding:10px;">
                    <h4><a href="#shipping#1">1. What areas in the UK are not covered by Return Like a Man?</a></h4>
                    <h4><a href="#shipping#2">2. What are the shipping options available to me?</a></h4>
                    <h4><a href="#shipping#3">3. How long will it take to receive a shipment?</a></h4>
                    <h4><a href="#shipping#4">4. Do you deliver on Saturday and Sunday?</a></h4>
                    <h4><a href="#shipping#5">5. Do you ship worldwide?</a></h4>
                    <h4><a href="#shipping#6">6. How can I track my order?</a></h4>
                    <h4><a href="#shipping#7">7. I still haven't received my package 7 days after it was shipped. What do I do?</a></h4>
                    <h4><a href="#shipping#10">8. Can I combine multiple orders and pay only once for shipping?</a></h4>
                    <h4><a href="#shipping#11">9. What happens if the courier doesn't find me at home?</a></h4>
                </div>
            </div>
            <div style="">
                <div class="caption"><p><strong><a name="1" href=""></a>1. What areas in the UK are not covered by Return Like a Man?</strong></p></div>
                <div class="padded-content">
                    <p>If your delivery address falls within the following postcodes, you will not qualify for our Return Like a Man service. Therefore, if you wish to return an item, please contact us at <span>help@getbrandid.com</span>.</p>
                     <a name="area" href=""></a> 
                    <table style="width: 530px;" border="0" cellspacing="0" cellpadding="7">
                    <thead> 
                    <tr class="headerrow">
                    <th width="152">Area</th> <th width="347">Postcodes not covered by Next Day Delivery</th>
                    </tr>
                    </thead> 
                    <tbody>
                    <tr class="odd">
                    <td>Aberdeen</td>
                    <td>AB37-38, AB42, AB44, AB45, AB53-AB56</td>
                    </tr>
                    <tr class="even">
                    <td>Inverness</td>
                    <td>IV14-28, IV30-32, IV40-IV56, IV7, IV9-12</td>
                    </tr>
                    <tr class="odd">
                    <td>Kilmarnock</td>
                    <td>KA27-28</td>
                    </tr>
                    <tr class="even">
                    <td>Kirkwall</td>
                    <td>all KW</td>
                    </tr>
                    <tr class="odd">
                    <td>Paisley</td>
                    <td>PA20, PA21-38, PA41-42, PA49, PA60, PA61-78, PA80-88</td>
                    </tr>
                    <tr class="even">
                    <td>Perth</td>
                    <td>PH17, PH26, PH30-44, PH49-50</td>
                    </tr>
                    <tr class="odd">
                    <td>Isle of Man</td>
                    <td>all IM</td>
                    </tr>
                    <tr class="even">
                    <td>Lerwick&nbsp;</td>
                    <td>all ZE</td>
                    </tr>
                    <tr class="odd">
                    <td>Truro</td>
                    <td>TR21-25</td>
                    </tr>
                    <tr class="even">
                    <td>Dundee</td>
                    <td>all DD</td>
                    </tr>
                    <tr class="odd">
                    <td>Belfast</td>
                    <td>all BT</td>
                    </tr>
                    <tr class="even">
                    <td>Jersey</td>
                    <td>all JE</td>
                    </tr>
                    <tr class="odd">
                    <td>Guernsey</td>
                    <td>all GY</td>
                    </tr>
                    </tbody>
                    </table>
                    
                    <p>Everything outside those postcodes but still inside the UK are elegible Return Like a Man.</p>
                    
                    <p><a href="#shipping"><span class="back-to-top">(back to top)</span></a></p>
                </div>
                <div class="caption"><p><strong><a name="2" href=""></a>2. What are the shipping options available to me?</strong></p></div>
                <div class="padded-content">
                    <p>We offer Free Standard Shipping for any orders over £24.</p>
                    <p> However, if you choose to deliver to  a difficult to reach area as described in <a href="#1">question #1</a>, packages can take up to 7 days to reach you, but are normally delivered within 3 days. There is no surcharge.</p>
                    <p>For queries related to International Shipping or Returns, please <a href="/international-shipping">click here</a>.</p>
                    <p><a href="#shipping"><span class="back-to-top">(back to top)</span></a></p>
                </div>
                
                <div class="caption"><p><strong><a name="3" href=""></a>3. How long will it take to receive a shipment?</strong></p></div>
                <div class="padded-content">
                    <p>Within the UK all Standard Shipping orders will be received within 3 - 5 business days.&nbsp;</p>
                    <p>If you have a subscription, we will let you know a week before your delivery is due to arrive. This also gives you the options to make any amendments to your order before we ship.</p>
                    <p><a href="#shipping"><span class="back-to-top">(back to top)</span></a></p>
                </div>
                <div class="caption"><p><strong><a name="4" href=""></a>4. Do you deliver on Saturday, Sunday and Bank Holidays?</strong></p></div>
                <div class="padded-content">
                <p>No, unfortunatly most postal services are shut during these days.</p>
                
                <p><a href="#shipping"><span class="back-to-top">(back to top)</span></a></p>
                </div>
                <div class="caption"><p><strong><a name="5" href=""></a>5. Do you ship worldwide?</strong></p></div>
                <div class="padded-content">
                    <p>Yes, for more information see our International Shipping &amp; Returns policy <a href="/international-shipping">here</a>.</p>
                    
                    <p><a href="#shipping"><span class="back-to-top">(back to top)</span></a></p>
                </div>
                <div class="caption"><p><strong><a name="6" href=""></a>6. How can I track my order?</strong></p></div>
                <p>To see if your package is tracked, go to My Account &gt; View Order &gt; Shipments. The page will display the tracking number and the postal service that was used:</p>
                <p>For Royal Mail shipments, the tracking website is: <a href="http://track.royalmail.com">track.royalmail.com</a> For UPS shipments, the tracking website is: <a href="http://www.ups.com">www.ups.com</a> If there is no tracking number, contact us at<strong>&nbsp;help@getbrandid.com</strong>&nbsp;or call us on <strong>+44 (0) 203 322 2882</strong>.</p>
                
                <p><a href="#shipping"><span class="back-to-top">(back to top)</span></a></p>
                
                <div class="caption"><p><strong><a name="7" href=""></a>7. I still haven't received my package 7 days after it was shipped. What do I do?</strong></p></div>
                <div class="padded-content">
                    <p>If a package has not arrived after 7 days from the day you received your tracking number in your shipment confirmation email, we assume it has been lost. If this is the case, please contact us at <span>help@getbrandid.com</span> with your Order # from your original order confirmation email. Depending on availability of stock, we will either send a replacement or refund your purchase  assuming the package has been lost.</p>
                    <ul>
                    <li>If the packaging has been lost by the courier, depending on availability of stock, we will either send a replacement or refund your purchase.</li>
                    <li>If the item turns up after you have accepted a refund and you want to return the item, we will contact you to arrange a free collection. You will be legally liable to take reasonable care of the item during this time.</li>
                    <li>If the item turns up after you have accepted a refund and you want to keep the item we email you a link where we will require you to make a payment for the item.</li>
                    <li>If the items turns up late, but you haven’t processed a refund, write to us at&nbsp;<strong>help@getbrandid.com</strong><strong>&nbsp;</strong>call us on <strong>+44 (0) 203 322 2882</strong>&nbsp;and we will refund you the delivery charge.</li>
                    <li>We consider packages delivered when they are signed for, regardless of who accepts the package. For example, if the package is delivered to your house but signed for by your neighbour, we do not accept any responsibility for the item reaching you after it has been signed for.</li>
                    </ul>
                    
                    <p><a href="#shipping"><span class="back-to-top">(back to top)</span></a></p>
                </div>
                <div class="caption"><p><strong><a name="10" href=""></a>8. Can I combine multiple orders and pay only once for shipping?</strong></p></div>
                <div class="padded-content">
                    <p>Yes, provided the orders all have the same delivery address, but you must  contact us at<strong>&nbsp;<strong>help@getbrandid.com</strong>&nbsp;</strong>or&nbsp;call us on <strong>+44 (0) 203 322 2882</strong> with an Order #, and we will make sure all packages you purchased on that day are sent in one shipment. We will refund your  second shipping charge as soon as we receive your email.</p>
                    
                    <p><a href="#shipping"><span class="back-to-top">(back to top)</span></a></p>
                </div>
                <div class="caption"><p><strong><a name="11" href=""></a>9. What happens if the courier doesn't find me at home?</strong></p></div>
                <div class="padded-content">
                    <p>You will receive a note in your postbox with instructions of how to either arrange a free redelivery or collect the package from your local depot.</p>
                    <p>If you have any questions about your delivery, contact us at<strong>&nbsp;<strong>help@getbrandid.com</strong>&nbsp;</strong>or call us on <strong>+44 (0) 203 322 2882</strong> to arrange another delivery. At this point you will be liable for any redelivery charges.</p>
                    <p>NB: if you have provided an incorrect delivery address, you will be charged for redelivery.</p>
                    
                    <p><a href="#shipping"><span class="back-to-top">(back to top)</span></a></p>
                </div>
            </div>
        </div>
      </div>
    </div>

  </div> <!-- grey container -->
</div> <!-- grey-tilt holder -->

